body, html {
    min-height: 100%;
    width: 100%;
    background-image: url("./images/scraperbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1, title {
    font-family: 'Abril Fatface', cursive;
}

h2, h3, h4, h5, p, ul, ol, li {
    font-family: 'Song Myung', serif;
}

h2 {
    font-size: 36px;
    line-height: 1.5rem;
}

nav {
    width: 100%;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

footer {
    font-family: 'Cookie', cursive;
    /* position: absolute;
    bottom: 0; */
}

.articleContainer {
    margin: 0 auto;
}